body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f6f9;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
}

.lista {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 600px;
    overflow-x: auto;
}

.titulo {
    width: 100%;               
    background-color: rgb(55, 181, 55);
    padding: 20px 0;            
    text-align: center;   
    padding: 20px 0;
    margin-bottom: 250px;     
}

.tabla-huerta {
    margin-top: 30px;
}

.humedad-temperatura {
    padding: 20px 30px;        
    text-align: center;        
    border-right: 2px solid #ccc; 
}